* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 1440px;
    height: 480px;
    margin: 10px auto;
    padding: 5px 0;
    background: #efefef;
}

.titulo-principal h1 {
    position: absolute;
    left: 50px;
    top: 97px;
    font-size: 32px;
    line-height: 41px;
    color: #093366;
}

.setas {
    position: absolute;
    margin: 0 5px;
    cursor: pointer;
    left: 1390px;
    top: 134px;
}

section {
    height: 480px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

section::-webkit-scrollbar {
    display: none;
}

section .produto-descricao {
    min-width: 315px;
    min-height: 235px;
    background: whitesmoke;
    margin: 120px 20px 0 0;
    border-radius: 5px;
    position: relative;
    left: 0;
    transition: 0.5s;
}

.produto-imagem {
    position: absolute;
    display: flex;
    top: 10%;
    left: 20px;
}

.produto-descricao p {
    position: absolute;
    font-size: 16px;
    left: 20px;
    right: 20px;
    top: 46%;
    color: #093366;
}

.carga-horaria {
    position: absolute;
    display: flex;
    align-items: center;
    width: 315px;
    top: 75%;
    border-top: 2px solid #e7ecf4;
}

.carga-horaria img {
    margin-top: 15px;
    margin-left: 20px;
}

.carga-horaria span {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    color: #BEC8D8;
}
